*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: inherit;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition:0.5s all ease ;
    -ms-transition:0.5s all ease;
    -o-transition: 0.5s all ease;
}
html{
    font-size: inherit;

}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
p{
    line-height:150%;
    margin-bottom: 1rem;
}
.fix{
    overflow:hidden;
}
.container_full {
    width: 100%
}
.container{
    width: 100%;
    margin: 0px auto;
}
.header_bg{
    background-color:#17A589;


}
#header {
    display: inline;
}

#header .left_logo{
    float: left;
    color:white;
}
#header .left_logo h1{
    font-family: inherit;
    font-weight: bold;
    font-size: 4rem;
}
#header nav{
    float: right;
}
}
#header nav #menu {
    float: left;
    margin-right: 1rem;
    margin-right: 0.15rem solid black;
}
header nav #menu li:first-child{
    border-left: 00.15rem solid black;
}
#header nav #menu li a{
    display: inline-block;
    color: white;
    font-family: inherit;
    font-weight: bold;
    font-size: 16px;
    padding: 1rem 1rem;
}
#header nav #menu li a:hover{
    color:rgb(252, 172, 0);
    border-bottom: 5rem solid green ;
}
#header nav #menu li.active a {
    border-bottom: 0.5rem solid greenyellow;
    color: greenyellow;
}
.content_wrapper{
    border-left: 0.1rem solid grey;
    border-right: 0.1rem solid grey;
    overflow: hidden;
    padding-top: 7.5rem;

}
.left_content{
    width: 62rem ;
    float: left;
    margin-right: 7rem;

}
.sidebar_wrapper{
    float: right;
    width: 28rem;

}
.left_content .single_article{
    margin-bottom: 7rem;
}
.left_content .single_article img{
    width: 100%;
    height: 30rem;
    float: right;
    margin-top: -230px;
    padding-left: 270px;
}
.left_content .single_article h2{
    font-family: inherit;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    color: blue;
    width: 30%;
}